<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>Jack en poy!</h1>
    <h2>Played {{info.data.length}} matches</h2>
    <button v-on:click="play">Play Round</button>
    <button v-on:click="reset">Restart game</button>
    <table v-if="info.data.length > 0">
        <thead>
        <td>Player 1</td>
        <td>Player 2</td>
        <td>Result</td>
        </thead>
        <tr :key="item.id" v-for="item of info.data">
            <td align="center"><img src="./images/rock.png" v-if="item.shape === 'ROCK'" width="24px"/>
                <img src="./images/paper.png" v-else-if="item.shape === 'PAPER'" width="24px"/>
                <img src="./images/scissor.png" v-else width="24px"/>
            </td>
            <td align="center"><img src="./images/rock.png" v-if="item.against === 'ROCK'" width="24px"/>
                <img src="./images/paper.png" v-else-if="item.against === 'PAPER'" width="24px"/>
                <img src="./images/scissor.png" v-else width="24px"/></td>
            <td>{{labels.results[item.result]}}</td>
        </tr>
    </table>
</div>
<script src="index.js"></script>
</body>
</html>